body {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading-text {
  font-family: "Black Ops One", cursive;
  font-size: 3rem;
  color: #fff;
}
#alertBox {
  display: none;
  display: bl
}
@media screen and (max-width: 450px) {
  .heading-text {
    font-size: 2.5rem;
  }
  #text-input {
    font-size: 1rem;
  }
}
